[Unit]
Description=Daemon to monitor and control fan speed

[Service]
ExecStart=/storage/.config/x375/x735-fan.sh
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
