[Unit]
Description=Run Hardware Power Management & Safe Shutdown daemon

[Service]
Type=simple
ExecStart=/storage/.config/x375/x735-pwr.sh
Restart=always

[Install]
WantedBy=multi-user.target